name: armaganwatch

on:
  schedule:
    - cron: "*/1 * * * *"   # her 1 dakikada bir kontrol
  workflow_dispatch:        # istersen elle de çalıştırabilirsin

jobs:
  run-armaganwatch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests python-dotenv beautifulsoup4

      - name: Run armaganwatch
        env:
          ARMAGAN_TELEGRAM_BOT_TOKEN: ${{ secrets.ARMAGAN_TELEGRAM_BOT_TOKEN }}
          ARMAGAN_TELEGRAM_CHAT_ID: ${{ secrets.ARMAGAN_TELEGRAM_CHAT_ID }}
          ARMAGAN_URL_HOTWHEELS: ${{ secrets.ARMAGAN_URL_HOTWHEELS }}
          ARMAGAN_URL_MATCHBOX: ${{ secrets.ARMAGAN_URL_MATCHBOX }}
          ARMAGAN_URL_LEGO: ${{ secrets.ARMAGAN_URL_LEGO }}
          ARMAGAN_URL_MAJORETTE: ${{ secrets.ARMAGAN_URL_MAJORETTE }}
        run: |
          python armaganwatch.py
